@use '../../library';

.clarify-file-area {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    h2 {
        font-weight: bolder;
    }

    button {
        min-width: 80px;
        border-radius: 6px;
        background-color: library.$blue;
        color: library.$white;
        margin: 10px 20px;
        border: 1px solid #124d77;

        &:hover {
            cursor: pointer;
            background-color: #3b6b8a;
            box-shadow: inset 0px 1px 0px 0px #124d77;

        }
        &active {
            position: relative;
            top: 1px;
        }
    }
}

.Modal {
    position: absolute;
    // display: flex;
    // flex-flow: column;
    // align-items: center;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    // width: 50%;
    padding: 40px;
    background-color: library.$white;
    color: library.$darkblue;
    button{
        position: fixed;
        top: 2px;
        right: 2px;
        width: 30px;
        height: 30px;
        font-weight: 800;
        border: none;
        background-color: library.$blue;
        color: library.$white;
    }
    p{
        margin-bottom: 10px;
    }
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( library.$darkblue, .7 );
  }