@use '../../library';

.clarify-file-area {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    h2 {
        font-weight: bolder;
    }

    button {
        min-width: 80px;
        border-radius: 6px;
        background-color: library.$blue;
        color: library.$white;
        margin: 10px 20px;
        border: 1px solid #124d77;

        &:hover {
            cursor: pointer;
            background-color: #3b6b8a;
            box-shadow: inset 0px 1px 0px 0px #124d77;

        }

        &active {
            position: relative;
            top: 1px;
        }
    }
}

.Modal {
    top: 40%;
    left: 35%;
    right: 35%;
    bottom: 40%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include library.modal;

    $pad: 2px;

    button {
        position: fixed;
        top: 40%;
        right:35%;
        width: 30px;
        height: 30px;
        font-weight: 800;
        border: 3px solid library.$blue;
        background-color: library.$white;
        color: library.$blue;
    }

    p {
        margin-bottom: 10px;
    }   
}

.Overlay {
    @include library.overlay;

}