@use '../../library'as lib;

.note-card {
    background-color: lib.$paper;
    color: lib.$text;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right:  30px;
    box-shadow: -2px 4px 5px -4px #000000;

    .headline {
        padding: 0 10px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include lib.head-color;
        font-family: 'Source Sans ', sans-serif;
        font-size: 1.2rem;

        button {
            width: 25px;
            height: 25px;
            background-color: inherit;
            color: lib.$accents;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: inherit;
                cursor: pointer;
            }

        }

        .edit-note {
            width: 30px;
            height: 30px;
        }
    }

    .note-card_tags-area {
        width: 100%;
        background-color: lib.$accents;
        color: lib.$paper;
    }

    span {
        margin-left: 1vmin;
        &:hover{
            cursor: pointer;
        }
    }

    p {
        padding-left: 1vmin;
    }

}