@use '../../library'as lib;

.note-card {
    background-color: lib.$paper;
    color: lib.$text;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: -2px 4px 5px -4px #000000;
    overflow: hidden;
    position: relative;

    .headline {
        padding: 10px 10px;
        height: 40px;
        // height: max-content;
        // height: auto;
        display: flex;
        // flex-flow: column;
        justify-content: space-between;
        align-items: center;
        @include lib.head-color;
        font-family: 'Source Sans ', sans-serif;
        font-size: 1.2rem;
        line-height: 1.2;
        // text-overflow: ellipsis;


        .card-title {
            width: 180px;
            height: 40px;
            margin: 20px 0 0 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;            
        }

        button {
            width: 25px;
            height: 25px;
            background-color: inherit;
            color: lib.$accents;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: inherit;
                cursor: pointer;
            }

        }

        .edit-note {
            width: 30px;
            height: 30px;
        }
    }

    .note-card_tags-area {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 25px;
        background-color: lib.$accents;
        color: lib.$paper;
    }

    span {
        margin-left: 1vmin;

        &:hover {
            cursor: pointer;
        }
    }

    p {
        padding-left: 1vmin;
    }

}